<section ng-controller="listagemController as vm" ng-init="vm.init()">
  <div class="container">
    <div class="row justify-content-center text-white">
      <div class="col-8" ng-if="vm.habilitarLogin" style=" background-color: #63c9aa69;">
        <div class="row text-center">
          <div class="col-6">
            <a style="cursor: pointer;" ng-click="vm.abrirLogin();">
              <h3 class=" black">LOGIN</h3>
            </a>
          </div>
          <div class="col-4">

            <a style="cursor: pointer;" ng-click="vm.abrirCadastro();">
              <h3 class=" black">Cadastrar usuário</h3>
            </a>
          </div>
        </div>


        <div class="alert alert-danger text-center" ng-if="vm.error" role="alert">
          {{vm.error}}
        </div>
        <div class="alert alert-info  text-center" ng-if="vm.sucesso" role="alert">
          {{vm.sucesso}}
        </div>
        <form ng-submit="vm.verificarCadastro();" ng-if="vm.habilitarLogin">
          <div ng-if="!vm.loginCadastro">
            <div class="form-group black">
              <label for="exampleInputCnpj">CNPJ</label>
              <input type="text" class="form-control" mask="99.999.999./9999-99" ng-model="vm.cnpj"
                id="exampleInputCnpj" required placeholder="Digite seu CNPJ">
            </div>
            <div class="form-group black">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" class="form-control" ng-model="vm.senha" id="exampleInputPassword1" required
                placeholder="Digite sua senha">
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
          </div>
        </form>
        <form ng-submit="vm.cadastrarUsuario();" ng-if="vm.habilitarLogin && vm.loginCadastro">
          <div ng-if="vm.loginCadastro">
            <div class="form-group black">
              <label for="exampleInputCnpj">Cadastre o seu CNPJ</label>
              <input type="text" class="form-control" mask="99.999.999./9999-99" ng-model="vm.cnpj"
                id="exampleInputCnpj" required placeholder="Digite seu CNPJ">
            </div>
            <div class="form-group black">
              <label for="exampleInputPassword1">Cadastre sua senha</label>
              <input type="password" class="form-control" ng-model="vm.senha" id="exampleInputPassword1" required
                placeholder="Digite sua senha">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
          </div>
        </form>
      </div>
      
      <div class="col-10" style="background-color: #f0f0f0a6;" ng-if="!vm.habilitarLogin">
        <form ng-submit="vm.pesquisarPorCpf();">
          <div class="row no-gutters" style="margin-top: 20px;">
            <div class="col-8">
                <input type="text" class="form-control" mask="999.999.999-99" ng-model="vm.cpfPesquisa" id="exampleInputPassword1">
            </div>
            <div class="col-4">
                <div class="">
                  <button type="submit" class="btn btn-primary">Pesquisar por CPF</button>
                </div>
            </div>
          </div>
          <div class="alert alert-danger text-center" ng-if="vm.error" role="alert">
            {{vm.error}}
          </div>
      </form>
      <hr>
        <table style="color: black;" class="table table-striped">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Cliente</th>
              <th>Valor</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in vm.estabelecimento.listaTransferencias">
              <td>{{usuario.cnpj}}</td>
              <td>{{usuario.cpf}}</td>
              <td>{{usuario.valor}}</td>
              <td><a style="cursor: pointer;" ng-click="vm.abrirModalDescricao(usuario);"><i
                    class="bi bi-info-circle"></i></a></td>
            </tr>
            <tr ng-if="vm.estabelecimento.listaTransferencias.length === undefined" style="color: black;">
              <td>NENHUMA TRANSAÇÃO CADASTRADA</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal" id="modalDescricao" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title black">Descrição da Transação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body black">
              <p>{{vm.descricao}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>